@model Presentation.Models.ViewModels.FleetEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Ticket Management System</h1>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="/Fleets/Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="Id" value="@Model.Id"/>
                <div class="form-group mb-3">
                    <label class="control-label mb-1">@Html.DisplayNameFor(fleet => fleet.Name)</label>
                    <input class="form-control" type="text" name="Name" value="@Model.Name"/>

                </div>
                <div class="form-group mb-3">
                    <label class="control-label mb-1">@Html.DisplayNameFor(fleet => fleet.YearBuilt)</label>
                    <input class="form-control" type="number" name="YearBuilt" value="@Model.YearBuilt"/>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label mb-1">@Html.DisplayNameFor(fleet => fleet.ImageFile)</label>
                    <input class="form-control" name="ImageFile" type="file"/>
                </div>
                <div class="form-group mb-3">
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>