@using Domain.Models;

@model List<Property>

@{
    ViewData["Title"] = "Properties";
}

<h1>@ViewData["Title"]</h1>

<div class="container" id="properties">
    @foreach (Property property in Model)
    {
        <div class="row">
            <small id="property-type">@property.PropertyType</small>
            <div class="col-4">
                <img src="@property.Image" alt="Property Image" class="img-fluid" />
            </div>
            <div class="col-8">
                <p><strong>Reference No:</strong> @property.ReferenceNumber</p>
                <p><strong>Contract Type:</strong> @property.ContractType</p>
                <p><strong>Floor Area (sq. m):</strong> @property.FloorArea</p>
                <p><strong>Beds:</strong> @property.Beds</p>
                <p><strong>Price:</strong> @property.Price.ToString("C")</p>
                <p><strong>Locality:</strong> @property.Locality</p>
            </div>
            <p id="property-description">@property.Description</p>
        </div>
        <hr />
    }
</div>