@using Domain.Models
@using System.Globalization
@model Presentation.Models.ViewModels.TicketCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />

<div class="row">
    <div class="col-md-6 col-lg-4">
        <form method="post" action="/Tickets/Create">
            <div class="form-group mb-3">
                <label class="control-label">Reference Number</label>
                <input type="text" name="Ticket.ReferenceNumber" class="form-control"/>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Issue Date</label>
                <input type="date" name="Ticket.IssueDate" class="form-control"/>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Ticket Type</label>
                <select name="Ticket.TicketTypeFK" class="form-control">
                    <option value="-1">Please select a ticket type</option>
                    @if (Model.TicketTypes != null)
                    {
                        @foreach (TicketType ticketType in Model.TicketTypes)
                        {
                            <option value="@ticketType.Id">@ticketType.Name (@ticketType.Cost.ToString("C", CultureInfo.GetCultureInfo("mt-MT")))</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Route</label>
                <select name="Ticket.LineFK" class="form-control">
                    <option value="-1">Please select a route</option>
                    @if (Model.Lines != null)
                    {
                        @foreach (Line line in Model.Lines)
                        {
                            <option value="@line.Id">@line.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Origin</label>
                <select name="Ticket.OriginFK" class="form-control">
                    <option value="-1">Please select an origin</option>
                    @if (Model.Origins != null)
                    {
                        @foreach (Location origin in Model.Origins)
                        {
                            <option value="@origin.Id">@origin.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Destination</label>
                <select name="Ticket.DestinationFK" class="form-control">
                    @if (Model.Destinations != null)
                    {
                        @foreach (Location destination in Model.Destinations)
                        {
                            <option value="@destination.Id">@destination.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Bus</label>
                <select name="Ticket.BusFK" class="form-control">
                    <option value="-1">Please select a bus</option>
                    @if(Model.Buses != null)
                    {
                        @foreach(Bus bus in Model.Buses)
                        {
                            <option value="@bus.Id">@bus.Plate</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" href="/Tickets/Index">Back to tickets</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
